# SPDX-FileCopyrightText: © 2024 Alexander Kromm <mmaulwurff@gmail.com>
# SPDX-License-Identifier: CC0-1.0

# Ignore everything:
*

# Except directories
!**/
# and these files:
!.gitattributes
!.gitignore
!.editorconfig
!.clang-format

# and these file types:
!*.org
!*.sh

# and licenses here:
!LICENSES/*.txt

# but do ignore them there:
build/*
packages/*
